@page "/counter"
@rendermode InteractiveServer

@inject FantasticAppClient FantasticAppClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>

@code {
    public async Task GetCounterValue()
    {
        var result = await FantasticAppClient.GetCounterValue.ExecuteAsync();
        if (result.Data?.Counter_by_pk != null)
        {
            currentCount = result.Data.Counter_by_pk.Value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetCounterValue();
    }
    public int currentCount = 0;

    public async Task IncrementCount()
    {
        currentCount++;

        var input = new FantasticApp.GraphQL.UpdateCounterInput { Value = currentCount };
        var result = await FantasticAppClient.UpdateCounter.ExecuteAsync(1, input);
        if (result.Errors is null || !result.Errors.Any())
        {
            if (result.Data != null && result.Data.UpdateCounter != null)
            {
                currentCount = result.Data.UpdateCounter.Value;
            }
        }
    }
}
