@page "/"

<PageTitle>Home</PageTitle>

<h1>The Fantastic App</h1>
<h3>The one and only app you'll ever need</h3>

While we complete the Fantastic App, please enjoy a cool stress free counter an a simple AI-powered weather app.
